<header>
    <navbar class="navbar navbar-nav">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li><a href="/">EasyLabs</a></li>
            <li><a href="/doctors">Doctors</a></li>
            <li><a href="/doctors/new">Add Doctor</a></li>
            <li><a href="/labTests">LabTests</a></li>
            <li><a href="/labTests/new">Add LabTest</a></li>
        </ul>
    </div>
    </navbar> 
    <br/>
    <br/>
</header>