<div class="container">
<h2>Edit LabTest</h2>
 <form action="/labTests/<%= labTest.id%>?_method=PUT" method="POST" > <!--enctype="multipart/form-data"> -->
    <%- include('_form_fields') %>
    <a href="/labTests">Cancel</a> <!-- anchor are used to link things and button for interactive form or objects-->
    <button type="submit">Update</button>
</form>
</div>


