<div class="container">
<h2>New LabTest</h2>
 <form class="form-horizontal" action="/labTests" method="POST" > <!--enctype="multipart/form-data"> -->
    <%- include('_form_fields') %>
    <a class="btn btn-info" href="/labTests" role="button">Cancel</a> <!-- anchor are used to link things and button for interactive form or objects-->
    <button class="btn btn-primary" type="submit">Create</button>
</form>
</div>


