<div class="form-group has-success">
<label class="control-label col-sm-2" >Doctor Name</label>
<div class="col-sm-6"> 
<input type="text" class="form-control" name="name" value="<%= doctor.name%>">
</div>
</div>
